* {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid #4d4c72;
}

body {
  font-family: "Raleway", sans-serif;
  color: #666666;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas: "header" "nav" "main";
  min-width: 0;
  min-height: 0;
}
@media (min-width: 500px) {
  .container {
    grid-template-areas: "header header" "nav main";
  }
}

.capitalize {
  text-transform: capitalize;
}

h3 {
  text-align: center;
}

.header {
  grid-area: header;
  background-color: #7477bf;
  padding: 1em 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.header h1 {
  font-weight: normal;
  font-size: 1.4em;
  color: #fbfbfb;
  margin: 0;
  padding-bottom: 0.5em;
  text-align: center;
}
@media (min-width: 400px) {
  .header h1 {
    padding-bottom: 0;
  }
}
.header section {
  width: auto;
  display: flex;
  justify-content: center;
}
.header section .bell {
  color: #CCCECF;
  font-size: 24px;
  transition: 0.25s;
}
.header section .bell:hover {
  color: #fbfbfb;
}
.header section .liveNotification {
  border: 1px solid #81c98f;
  background-color: #81c98f;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  opacity: 0;
}
.header section .dropdown-container {
  position: absolute;
  background-color: white;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.3);
  display: none;
}
.header section .dropdown-container .dropdown-header {
  background-color: #4d4c72;
  color: #fbfbfb;
}
.header section .dropdown-container .dropdown-item {
  border: none;
  padding: 10px 5px;
  font-size: 0.9em;
  width: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  transition: 0.25s;
}
.header section .dropdown-container .dropdown-item:not(:first-child):hover {
  background-color: #e2e2e2;
  cursor: pointer;
}
.header section .dropdown-container .dropdown-item .notification-clear {
  margin-left: 1em;
  padding-right: 0.5em;
  transition: 0.15s;
}
.header section .dropdown-container .dropdown-item .notification-clear:hover {
  text-decoration: underline;
}
.header section .member-header {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 1em;
  margin-left: 1em;
  display: flex;
  align-items: center;
}
.header section .member-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.header section .member-header p {
  margin: 0;
  margin-left: 1em;
  color: #fbfbfb;
}
@media (min-width: 400px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.side-nav {
  grid-area: nav;
  background-color: #4d4c72;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.side-nav div {
  padding: 0.5em 0.25em;
  border-left: 3px solid transparent;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-right: 3px;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .side-nav div {
    padding: 1.5em;
  }
}
@media (min-width: 600px) {
  .side-nav div {
    padding: 1.25em;
  }
}
@media (min-width: 400px) {
  .side-nav div {
    padding: 0.75em;
  }
}
.side-nav div:first-child {
  margin-top: 0;
}
@media (min-width: 500px) {
  .side-nav div:first-child {
    margin-top: 1.5em;
  }
}
.side-nav div:hover {
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid #81c98f;
}
@media (min-width: 500px) {
  .side-nav div:hover {
    border-bottom: 3px solid transparent;
    border-left: 3px solid #81c98f;
  }
}
@media (min-width: 500px) {
  .side-nav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.icon {
  fill: #CCCECF;
}

.main {
  grid-area: main;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .main-header {
    flex-direction: row;
  }
}

.search-wrapper {
  background-color: #fbfbfb;
  display: flex;
  padding: 0.75em;
  padding-right: 1.25em;
  width: 100%;
  border: 1px solid #CCCECF;
  justify-content: center;
}
@media (min-width: 500px) {
  .search-wrapper {
    justify-content: flex-end;
    border: 1px solid #CCCECF;
    border-top: none;
    width: 85%;
  }
}

.search-bar {
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  border: 1px solid #CCCECF;
  background-color: white;
  width: 90%;
}
@media (min-width: 500px) {
  .search-bar {
    width: 40%;
  }
}

.tab-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  padding: 0.5em;
  font-size: 1.25em;
  width: auto;
}
@media (min-width: 768px) {
  .tab-name {
    padding: 1em;
    font-size: auto;
    width: 18%;
  }
}

.alert-bar {
  width: 98%;
  margin-right: auto;
  padding: 0.5em;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .alert-bar {
    padding: 1.5em;
  }
}

#alert-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 2vh;
}
#alert-message .alert-general {
  background-color: #7377bf;
}
#alert-message .alert-success {
  background-color: #81c98f;
}
#alert-message .alert-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  color: #fbfbfb;
  padding: 0.75em;
  width: 100%;
  margin-top: 5px;
}
#alert-message .alert-text .alert-clear:hover {
  cursor: pointer;
}
#alert-message .alert-text p,
#alert-message .alert-text .alert-clear {
  margin: 0;
  font-size: 0.9em;
}
@media (min-width: 600px) {
  #alert-message .alert-text p,
#alert-message .alert-text .alert-clear {
    font-size: 1em;
  }
}

.traffic-overview-container {
  border-bottom: 1px solid #CCCECF;
  flex-direction: column;
  padding: 5px;
}
.traffic-overview-container .traffic-overview-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.25em 0;
}
.traffic-overview-container .traffic-overview-header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.traffic-overview-container .traffic-overview-header div h4 {
  padding: 0.5em;
  margin: 0 0.25em;
  border-radius: 20px;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .traffic-overview-container .traffic-overview-header div h4 {
    margin: 0 0.75em;
    padding: 0.5em 1em;
  }
}
.traffic-overview-container .traffic-overview-header div h4:hover {
  background-color: #81c98f;
  color: #fbfbfb;
}
@media (min-width: 768px) {
  .traffic-overview-container .traffic-overview-header {
    padding: 1.25em;
  }
}
@media (min-width: 600px) {
  .traffic-overview-container .traffic-overview-header {
    padding-bottom: 1.25em;
  }
}
@media (min-width: 500px) {
  .traffic-overview-container .traffic-overview-header {
    flex-direction: row;
    padding: 0.5em;
  }
}
.traffic-overview-container .traffic-overview-graph {
  margin: auto;
  position: relative;
  width: 100%;
  height: 250px;
}
@media (min-width: 600px) {
  .traffic-overview-container .traffic-overview-graph {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .traffic-overview-container .traffic-overview-graph {
    height: 350px;
  }
}
@media (min-width: 1024px) {
  .traffic-overview-container .traffic-overview-graph {
    height: 400px;
  }
}
@media (min-width: 1400px) {
  .traffic-overview-container .traffic-overview-graph {
    height: 450px;
  }
}
@media (min-width: 500px) {
  .traffic-overview-container {
    padding: 2em 1.5em;
    flex-direction: row;
  }
}

.highlight {
  background-color: #81c98f;
  color: #fbfbfb;
}

.traffic-details {
  display: flex;
  border-collapse: collapse;
  border-bottom: 1px solid #CCCECF;
  flex-direction: column;
}
.traffic-details div {
  width: 100%;
  padding: 5px;
}
.traffic-details div h3 {
  padding-bottom: 1em;
}
.traffic-details div:nth-of-type(1) {
  border-right: none;
  border-bottom: 1px solid #CCCECF;
}
@media (min-width: 768px) {
  .traffic-details div {
    padding: 2em;
    width: 50%;
  }
  .traffic-details div:nth-of-type(1) {
    border: none;
    border-right: 1px solid #CCCECF;
  }
}
@media (min-width: 500px) {
  .traffic-details div {
    padding: 1em;
  }
}
@media (min-width: 768px) {
  .traffic-details {
    flex-direction: row;
  }
}

.social-stats {
  padding: 1.5em;
  padding-bottom: 5em;
}
.social-stats .social-widget-container {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  .social-stats {
    padding: 1.5em 5px;
  }
}

.social-widget {
  border: 1px solid #CCCECF;
  border-radius: 3px;
  background-color: #fbfbfb;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
  padding: 0.5em;
  height: auto;
}
.social-widget div:first-child {
  width: 75px;
  height: 75px;
  margin-left: 1em;
  background-color: #7377bf;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.social-widget div:last-child {
  width: auto;
  padding-left: 1.5em;
}
.social-widget div:last-child h5 {
  margin: 0;
  color: #7377bf;
  font-size: 1.1em;
  font-weight: bold;
}
.social-widget div:last-child p {
  margin: 0;
  font-size: 2.25em;
}
@media (min-width: 1024px) {
  .social-widget {
    min-width: 275px;
  }
}

.social-icon {
  fill: #fbfbfb;
  height: 32px;
  width: 32px;
}

.memberTools {
  display: grid;
  min-width: 0;
  min-height: 0;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin-bottom: 10vh;
}
.memberTools > div {
  border-top: 1px solid #CCCECF;
  border-bottom: none;
  padding: 1em 5px;
  margin-left: -1px;
}
@media (min-width: 500px) {
  .memberTools > div {
    padding: 1.5em;
    border: 1px solid #CCCECF;
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .memberTools {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }
}

hr {
  border: 0.5px solid #CCCECF;
}

.info {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: auto;
  flex-direction: column;
  text-align: center;
}
.info img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}
.info div {
  padding-left: 1em;
}
.info div > p {
  margin: 0;
  font-size: 0.75em;
}
.info h6 {
  margin: 0;
  font-size: 0.9em;
}
.info a {
  font-size: 0.75em;
  text-decoration: none;
  color: #7477bf;
}
@media (min-width: 1024px) {
  .info p {
    padding: inherit;
    padding-bottom: 1em;
    padding-top: 1em;
  }
}
@media (min-width: 500px) {
  .info p {
    margin-left: auto;
  }
}
@media (min-width: 400px) {
  .info {
    flex-direction: row;
    text-align: inherit;
  }
}

.message-container {
  display: flex;
  flex-direction: column;
}
.message-container #searchList {
  position: absolute;
  background-color: white;
  margin: 0.7em 0.5em;
  border-radius: 3px;
  transform: translateY(2.5em);
  font-size: 0.9em;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.3);
}
.message-container #searchList .listedUser {
  text-transform: capitalize;
  padding: 0.5em 1em;
  margin: 0;
}
.message-container #searchList .listedUser:hover {
  background-color: #4d4c72;
  color: white;
}
.message-container input,
.message-container textarea {
  padding: 0.75em;
  border-radius: 3px;
  margin: 0.5em;
  border: 1px solid #CCCECF;
  background-color: #fbfbfb;
  font-size: 0.9em;
}
.message-container textarea {
  height: 8em;
}
.message-container input[type=submit] {
  background-color: #7377bf;
  color: #fbfbfb;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.settings-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.settings-option p {
  margin-right: 2em;
}
.settings-option:nth-of-type(2) {
  padding-top: 5px;
}
.settings-option:nth-of-type(2) .toggle-switch {
  margin-left: 2em;
}

.timezone {
  padding: 5px;
  border-radius: 3px;
  font-size: 0.9em;
  margin-top: 4em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .timezone {
    padding: 0.75em;
  }
}

.settings-buttons {
  width: 100%;
  margin-top: 0.5em;
}
.settings-buttons input {
  padding: 0.75em;
  border-radius: 3px;
  margin: 0.5em;
  border: 1px solid #CCCECF;
  background-color: #fbfbfb;
  font-size: 0.9em;
  background-color: #7377bf;
  color: #fbfbfb;
  font-weight: bold;
  letter-spacing: 1.2px;
  border: none;
  width: calc(50% - 1.5em);
}
.settings-buttons input:nth-of-type(2) {
  background-color: #CCCECF;
}

.toggle-switch {
  width: 65px;
  height: 23px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #7377bf;
}
.toggle-switch .toggle-text {
  margin-left: 8px;
  color: #fbfbfb;
}
.toggle-switch .toggle-button {
  border: 1px solid red;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #fbfbfb;
  border: 1px solid #CCCECF;
}

/*# sourceMappingURL=styles.css.map */
