body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  color: #666666;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header" "nav main";
}

.header {
  grid-area: header;
  background-color: #7477bf;
  padding: 1em;
}
.header h1 {
  font-weight: normal;
  font-size: 1.4em;
  color: #fbfbfb;
  margin: 0;
}

.side-nav {
  grid-area: nav;
  background-color: #4d4c72;
}
.side-nav div {
  padding: 1.5em;
  border-left: 3px solid transparent;
  margin-right: 3px;
}
.side-nav div:first-child {
  margin-top: 1.5em;
  border-left: 3px solid #81c98f;
}

.icon {
  fill: #CCCECF;
}

.main {
  grid-area: main;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.search-wrapper {
  width: 85%;
  background-color: #fbfbfb;
  display: flex;
  justify-content: flex-end;
  border: 1px solid #CCCECF;
  border-top: none;
  padding: 0.75em;
  padding-right: 1.25em;
}

.search-bar {
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  border: 1px solid #CCCECF;
  background-color: white;
  width: 40%;
}

.tab-name {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
}

.alert-bar {
  width: 100%;
  padding: 1.5em;
  box-sizing: border-box;
}

#alert-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 2vh;
}
#alert-message .alert-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #7377bf;
  border-radius: 5px;
  color: #fbfbfb;
  padding: 0.75em;
  width: 100%;
}
#alert-message .alert-text .alert-clear:hover {
  cursor: pointer;
}
#alert-message .alert-text p,
#alert-message .alert-text .alert-clear {
  margin: 0;
}

.traffic-overview-container {
  border-bottom: 1px solid #CCCECF;
  padding: 2em 1.5em;
}
.traffic-overview-container .traffic-overview-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.25em;
}
.traffic-overview-container .traffic-overview-header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.traffic-overview-container .traffic-overview-header div h4 {
  margin: 0 0.75em;
  padding: 0.5em 1em;
  border-radius: 20px;
  transition: 0.5s;
}
.traffic-overview-container .traffic-overview-header div h4:hover {
  background-color: #81c98f;
  color: #fbfbfb;
}
.traffic-overview-container .traffic-overview-graph {
  margin: auto;
  position: relative;
  width: 100%;
  height: 400px;
}

.highlight {
  background-color: #81c98f;
  color: #fbfbfb;
}

.traffic-details {
  display: flex;
  border-collapse: collapse;
  border-bottom: 1px solid #CCCECF;
}
.traffic-details div {
  width: 50%;
  padding: 2em;
}
.traffic-details div h3 {
  padding-bottom: 1em;
}
.traffic-details div:nth-of-type(1) {
  border-right: 1px solid #CCCECF;
}

.social-stats {
  padding: 1.5em;
}
.social-stats .social-widget-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.social-widget {
  border: 1px solid #CCCECF;
  border-radius: 3px;
  padding-right: 2em;
  height: 12vh;
  background-color: #fbfbfb;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social-widget div:first-child {
  width: 75px;
  height: 75px;
  margin-left: 1em;
  background-color: #7377bf;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.social-widget div:last-child {
  width: auto;
  padding-left: 1.5em;
}
.social-widget div:last-child h5 {
  margin: 0;
  color: #7377bf;
  font-size: 1.1em;
  font-weight: bold;
}
.social-widget div:last-child p {
  margin: 0;
  font-size: 2.25em;
}

.social-icon {
  fill: #fbfbfb;
  height: 32px;
  width: 32px;
}

/*# sourceMappingURL=styles.css.map */
