// color variables
$color-primary-blue: #7477bf;
$color-primary-green: #81c98f;
$color-primary-purple: #7377bf;
$color-primary-cyan: #74b1bf;

$color-secondary-blue: #4d4c72;

$color-offWhite: #fbfbfb;
$color-grey-light: #CCCECF;
$color-dark-red: #972a27;


//font variables
$font-stack-primary: 'Raleway', sans-serif;
$font-heading: 1.4em;

//layout
$layout-header: header;
$layout-nav: nav;
$layout-main: main;


*{
  box-sizing: border-box;
}

*:focus{
  outline: 2px solid $color-secondary-blue;
}


body{
  font-family: $font-stack-primary;
  color: #666666;
}

.container{
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main";

  min-width: 0;
  min-height: 0;
  @media(min-width: 500px){
    grid-template-areas:
      "header header"
      "nav main";
  }
}

.capitalize{
  text-transform: capitalize;
}

h3{
  text-align: center;
}

.header {
  grid-area: $layout-header;
  background-color: $color-primary-blue;
  padding:  1em 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  h1{
    font-weight: normal;
    font-size: $font-heading;
    color: $color-offWhite;
    margin: 0;
    padding-bottom: .5em;
    text-align: center;
    @media(min-width: 400px){
      padding-bottom: 0;
    }
  }
  section{
    width: auto;
    display: flex;
    justify-content: center;
    .bell{
      color: $color-grey-light;
      font-size: 24px;
      transition: .25s;
      &:hover {
        color: $color-offWhite;
      }
    }
    .liveNotification{
      border: 1px solid $color-primary-green;
      background-color: $color-primary-green;
      height: 7px;
      width: 7px;
      border-radius: 50%;
      opacity: 0;
    }
    .dropdown-container{
      position: absolute;
      background-color: white;
      box-shadow: 1px 10px 20px rgba(0,0,0,.3);
      display: none;
      .dropdown-header{
        background-color: $color-secondary-blue;
        color: $color-offWhite;
      }
      .dropdown-item{
        border: none;
        padding: 10px 5px;
        font-size: .9em;
        width: auto;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
        transition: .25s;
        &:not(:first-child):hover {
          background-color: darken($color-offWhite, 10%);
          cursor: pointer;
        }
        .notification-clear{
          margin-left: 1em;
          padding-right: .5em;
          transition: .15s;
          &:hover {
            text-decoration: underline;
          }
        }
      }//end dropdown-item
    }// end dropdown-container
    .member-header{
      border-left: 1px solid rgba(0,0,0,.2);
      padding-left: 1em;
      margin-left: 1em;
      display: flex;
      align-items: center;
      img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      p{
        margin: 0;
        margin-left: 1em;
        color: $color-offWhite;
      }
    } // end member header
  }
  @media(min-width: 400px){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.side-nav{
  grid-area: $layout-nav;
  background-color: $color-secondary-blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  div{
    padding: .5em .25em;
    border-left: 3px solid transparent;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    margin-right: 3px;
    transition: .3s;
    @media(min-width: 1024px){
      padding: 1.5em;
    }
    @media(min-width: 600px){
      padding: 1.25em;
    }
    @media(min-width: 400px){
      padding: .75em;
    }
    &:first-child{
      margin-top: 0;
      @media(min-width: 500px){
        margin-top: 1.5em;
      }
    }
    &:hover{

      border-top: 3px solid transparent;
      border-right: 3px solid transparent;
      border-left: 3px solid transparent;
      border-bottom: 3px solid $color-primary-green;
      @media(min-width: 500px){
        border-bottom: 3px solid transparent;
        border-left: 3px solid $color-primary-green;
      }
    }
  } //end div
  @media(min-width: 500px){
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

}

.icon{
  fill: $color-grey-light;
}


.main {
  grid-area: $layout-main;
}

.main-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media(min-width: 500px){
    flex-direction: row;
  }
}

.search-wrapper {
  background-color: $color-offWhite;
  display: flex;
  padding: .75em;
  padding-right: 1.25em;
  width: 100%;
  border: 1px solid $color-grey-light;
  justify-content: center;
  @media(min-width: 500px){
    justify-content: flex-end;
    border: 1px solid $color-grey-light;
    border-top: none;
    width: 85%;
  }
}

.search-bar {
  padding: .5em;
  border-radius: 5px;
  border:none;
  border: 1px solid $color-grey-light;
  background-color: white;
  width: 90%;
  @media(min-width: 500px){
    width: 40%;
  }
}

.tab-name {

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-heading;
  padding: .5em;
  font-size: 1.25em;
  width: auto;
  @media (min-width: 768px){
    padding: 1em;
    font-size: auto;
    width: 18%;
  }
}

.alert-bar{
  width: 98%;
  margin-right:auto;
  padding: .5em;
  box-sizing: border-box;
  @media(min-width: 768px){
    padding: 1.5em;
  }
}

#alert-message{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 2vh;
  .alert-general{
    background-color: $color-primary-purple;
  }
  .alert-success{
    background-color: $color-primary-green;
  }
  .alert-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    color: $color-offWhite;
    padding: .75em;
    width: 100%;
    margin-top: 5px;
    .alert-clear:hover{
      cursor: pointer;
    }
    p,
    .alert-clear{
      margin: 0;
      font-size: .9em;
      @media(min-width: 600px){
        font-size: 1em;
      }
    } //end p, .alert-clear
  } //end div
} //  end alert message


.traffic-overview-container{
  border-bottom: 1px solid $color-grey-light;
  flex-direction: column;
  padding: 5px;
  .traffic-overview-header{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .25em 0;
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      h4{
        padding: .5em;
        margin: 0 .25em;
        border-radius: 20px;
        transition: .5s;
          @media(min-width: 768px){
            margin:0 .75em;
            padding: .5em 1em;
          }

        &:hover {
          background-color: $color-primary-green;
          color: $color-offWhite;
        }
      } // end h4
    } //end div
    @media(min-width: 768px){
      padding: 1.25em;
    }
    @media(min-width: 600px){
       padding-bottom: 1.25em;
    }
    @media(min-width: 500px){
      flex-direction: row;
      padding: .5em;
    }
  } //end traffic overview header
  .traffic-overview-graph{
    margin: auto;
    position: relative;
    width: 100%;
    height: 250px;
    @media(min-width: 600px){
      height: 300px;
    }
    @media(min-width: 768px){
      height: 350px;
    }
    @media(min-width: 1024px){
      height: 400px;
    }
    @media(min-width: 1400px){
      height: 450px;
    }
  }
  @media(min-width: 500px){
    padding: 2em 1.5em;
    flex-direction: row;
  }
}

.highlight {
  background-color: $color-primary-green;
  color: $color-offWhite;
}

.traffic-details{
  display: flex;
  border-collapse: collapse;
  border-bottom: 1px solid $color-grey-light;
  flex-direction: column;
  div{
    h3{
      padding-bottom: 1em;
    }
    width: 100%;
    padding: 5px;
    &:nth-of-type(1){
      border-right:none;
      border-bottom: 1px solid $color-grey-light;
    }
    @media(min-width: 768px){
      padding: 2em;
      width: 50%;
      &:nth-of-type(1){
        border: none;
        border-right: 1px solid $color-grey-light;
      }
    }
    @media(min-width: 500px){
      padding: 1em;
    }
  } //end of div
  @media(min-width: 768px){
    flex-direction: row;
  }
}

.social-stats{

  padding: 1.5em;
  padding-bottom: 5em;
  .social-widget-container{
    display: flex;
    flex-wrap: wrap;
  }
  @media(min-width: 500px){
    padding: 1.5em 5px;
  }
}

.social-widget{
  border: 1px solid $color-grey-light;
  border-radius: 3px;
  background-color: $color-offWhite;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 2em;
  padding: .5em;
  height: auto;
  div:first-child{
    width: 75px;
    height: 75px;
    margin-left: 1em;
    background-color: $color-primary-purple;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  div:last-child{
    width: auto;
    padding-left: 1.5em;
    h5{
      margin: 0;
      color: $color-primary-purple;
      font-size: 1.1em;
      font-weight: bold;
    }
    p{
      margin: 0;
      font-size: 2.25em;

    }
  } //  end div:last-child
  @media(min-width: 1024px){
    min-width: 275px;
  }
}

.social-icon{
  fill: $color-offWhite;
  height: 32px;
  width: 32px;
}


.memberTools{
  display: grid;
  min-width: 0;
  min-height: 0;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  margin-bottom: 10vh;
  & > div{
    border-top: 1px solid $color-grey-light;
    border-bottom: none;
    padding: 1em 5px;
    margin-left: -1px;
    @media(min-width: 500px){
      padding: 1.5em;
      border: 1px solid $color-grey-light;
      border-bottom: none;
    }
  }
  @media(min-width: 768px){
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
  }
}

hr{
  border: .5px solid $color-grey-light;
}

.info{
  display: flex;

  align-items: center;
  padding: 5px;
  margin: auto;
  flex-direction: column;
  text-align: center;
  img{
    height: 3em;
    width: 3em;
    border-radius: 50%;
  }
  div{
    padding-left: 1em;
    & > p {
      margin: 0;

      font-size: .75em;
    }
  }
  h6{
    margin: 0;
    font-size: .9em;
  }
  a{
    font-size: .75em;
    text-decoration: none;
    color: $color-primary-blue;
  }
  p{

    @media(min-width: 1024px){
      padding: inherit;
      padding-bottom: 1em;
      padding-top: 1em;
    }
    @media(min-width: 500px){
      margin-left: auto;
    }
  } // end paragraph
  @media(min-width: 400px){
    flex-direction: row;
    text-align: inherit;
  }
}

.message-container{
  display: flex;
  flex-direction: column;
  #searchList{
    position: absolute;
    background-color: white;
    margin: .7em .5em;
    border-radius: 3px;
    transform: translateY(2.5em);
    font-size: .9em;
    box-shadow: 1px 10px 20px rgba(0,0,0,.3);
    .listedUser {
      text-transform: capitalize;
      padding: .5em 1em;
      margin: 0;
      &:hover{
        background-color: $color-secondary-blue;
        color: white;

      }
    }
  }
  input,
  textarea{
    padding: .75em;
    border-radius: 3px;
    margin: .5em;
    border: 1px solid $color-grey-light;
    background-color: $color-offWhite;
    font-size: .9em;

  }
  textarea{
    height: 8em;
  }
  input[type=submit]{
    background-color: $color-primary-purple;
    color: $color-offWhite;
    font-weight: bold;
    letter-spacing: 1.2px;
  }
}

.settings-option{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  p{
    margin-right: 2em;
  }
  &:nth-of-type(2){
    padding-top: 5px;
    .toggle-switch {
      margin-left: 2em;
    }
  }
}

.timezone{
  //background-color: $color-offWhite;
//  border: 1px solid $color-grey-light;
  padding: 5px;
  border-radius: 3px;
  font-size: .9em;
  margin-top: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (min-width: 500px){
      padding: .75em;
    }
  

}

.settings-buttons{
  width: 100%;
  margin-top: .5em;
  input{
    padding: .75em;
    border-radius: 3px;
    margin: .5em;
    border: 1px solid $color-grey-light;
    background-color: $color-offWhite;
    font-size: .9em;
    background-color: $color-primary-purple;
    color: $color-offWhite;
    font-weight: bold;
    letter-spacing: 1.2px;
    border: none;
    width: calc(50% - 1.5em);
  }
  input:nth-of-type(2){
    background-color: $color-grey-light;
  }

}

.toggle-switch{
  width: 65px;
  height: 23px;
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: $color-primary-purple;
  .toggle-text{
    margin-left: 8px;
    color: $color-offWhite;

  }
  .toggle-button{
    border: 1px solid red;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: $color-offWhite;
    border: 1px solid $color-grey-light;
  }
}
